@import "src/assets/styles/theme/variables.scss";

* {
  font-family: $fontFamily;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: $backgroundColor;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
